<header class="heading">

  <div>
    <svg class="logo-icon" width="39" height="30">
      <use href="./images/icons.svg#icon-logotype">
      </use>
    </svg>
    <a class="logo"><span class="logo-span">Finance</span>Ledger</a>
  </div>

  <nav class="nav">
    <ul class="navigation">
      <li><a class="navigation-link" href="./index.html">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Cases</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Contact</a></li>
    </ul>


  </nav>
</header>