<section class="section-three">
    <div class="container">
        <p>This is what we do</p>
        <h3>Business cases</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <ul class="section-three-list">
            <li class="section-three-list-item">
                <div class="section-three-img-container">

                </div>
            </li>
            <li class="section-three-list-item">
                <div>

                </div>
            </li>
            <li class="section-three-list-item">
                <div>

                </div>
            </li>
            <li class="section-three-list-item">
                <div>

                </div>
            </li>
            <li class="section-three-list-item">
                <div>

                </div>
            </li>
            <li class="section-three-list-item">
                <div>

                </div>
            </li>
        </ul>
    </div>
</section>